.viewport
  .toolbar
    -if params[:admin]
      =link_to 'next round', '/games/round', remote: true
      
      -# =link_to '+col', '/games/add_col'
      -# =link_to '+row', '/games/add_row'
    %span#output 0ft
  .grid
    -@cells.each do |y, row|
      .row
        -row.each_with_index do |c, x|
          .cell{data: {x: x, y: y}, id: c.id, class: c.crystal&.state}
            -if (t = c.token)
              .token{data: {token_id: t.id}, style: "background-color:#{t.color}"}=t.name[0,2]